body {
  font-family:'Montserrat', sans-serif;
 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20% 15px 550px 15px;
  height: auto; 
}

a {
  color: #00B7FF;
}


#chatbox {
   text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:30px;
    background:#5e3449;
    height:auto;
    width:800px;
    border:1px solid #ACD8F0;
    overflow:auto;
    max-width: 100%;
}

.card-header {
  padding: 25px, 25px, 25px, 65px;
  color: white;
  width: 50rem;
  height: auto;
  margin: auto;
  text-align: center;
  font-size:26px;
}

.list-group {
    margin-bottom: 1%;
}

.list-group-item {
    font-weight: bolder;
    background-color: darkorchid;
    margin-bottom: 1%;
}

h1 {
  color: black;
  /*text-shadow: 3px 3px 3px black; */
  text-align: center;
  font-size: 48px;
}

p{
  color:black;
  
  font-size: 12px;
}
.student-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.student-list .fa{
  font-size: 60px;
  align-content: center;
}

.container-card {
  background:white;
  box-shadow: 10px 10px 5px LightBlue;
  padding: 25px 25px 25px 65px;
  width: 30rem;
  height: auto;
  margin: auto;
}

.profile {
  width: 300px;
  max-width: 100%;
  margin:5px;
  border: 5px solid black;
  opacity:0.9;
  background-color: #ffffff;
  text-align: center;
  padding: 3px;
}

.icons {
  text-align: right;
}

.simple-form {
  width:60%;
  margin: auto;
  text-align: center;
}

.simple-form input{
  width:100%;
  margin:5px;
}

.simple-form button{
  width: 75%;
  margin:auto;
}